.rounded-left {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.rounded-right {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

img:hover {
  filter: brightness(0.8);
  cursor: pointer;
}
