.footer {
  display: flex;
  justify-content: space-between;
  height: 5vh;
  background-color: white;
  border-top: 1.5px solid #d3d3d3;
}

ul {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.main_footer {
  left: 0;
  bottom: 0;
  position: sticky;
  z-index: 5000;
}
